.BD01,
.BD21,
.BD27,
.BD30,
.BD33,
.BD34,
.BD37 {
  background-image: url("../assets/gg-goodybags.png");
  background-repeat: no-repeat;
  margin: auto; }

.BD01,
.BD21,
.BD27,
.BD30 {
  height: 185px;
  width: 185px; }

.BD33,
.BD34,
.BD37 {
  height: 185px;
  width: 185px; }

.BD01 {
  background-position: 0px 0px; }

.BD21 {
  background-position: -191px 0px; }

.BD27 {
  background-position: -383px 0px; }

.BD30 {
  background-position: -574px 0px; }

.BD33 {
  background-position: -94px -191px; }

.BD34 {
  background-position: -285px -191px; }

.BD37 {
  background-position: -478px -191px; }
